.owl-nav {
    position: absolute;
    top: -76px;
    right: 18px;
    display: none;
}
.owl-nav>button {
    width: 30px;
    height: 30px;
    border: 1px solid black !important;
    border-radius: 50% !important;
    display: flex !important;
    flex-direction: row !important;
    justify-content: center;
    align-items: center;
    font-size: 27px !important;
}
.owl-nav>button span{
    margin-bottom: 5px;
}