@tailwind base;
@tailwind components;
@tailwind utilities;


 @layer base {
    @font-face {
      font-family: 'ProductSansRegular';
      font-style: normal;
      font-weight: 400;
      font-display: swap;
      src: url(/src/fonts/ProductSansRegular.ttf) format('ttf');
    }
    @font-face {
        font-family: 'ProductSansBold';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/src/fonts/ProductSansBold.ttf) format('ttf');
      }
    html {
        font-family: "ProductSansRegular", sans-serif;
    }
  }